.titulo {
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}
.subtitulo {
    color: white;
    margin-left: 10px;
}
.descricao {
    margin-left: 10px;
}
.container {
    margin-bottom: 100px;
}